.wrapper {
  width: 500px;
  height: 600px;
  border: 3px solid black;
  border-radius: 25px;
  background-color: rgb(250, 244, 230);
}

body {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  position: relative;

  height: 100px;
  border-bottom: 3px solid black;
}

/*버튼 관련*/
.btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  margin-top: 5px;
  border: 2px solid black;
  margin-left: 10px;
}

button:hover {
  filter: brightness(125%);
}

button:active {
  filter: brightness(90%);
}

#red_btn {
  background-color: rgb(237, 122, 118);
}

#yellow_btn {
  background-color: rgb(250, 220, 147);
}

#green_btn {
  background-color: rgb(158, 219, 164);
}

/*버튼 관련 끝*/

b {
  margin-top: 5px;
}
.right {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  right: 90px;
  justify-content: center;
}
.add {
  background-color: rgb(241, 234, 216);
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-around;
  width: 450px;
  height: 60px;
  border-bottom: 2px dashed gray;
  margin-bottom: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.todo_date {
  color: gray;
  margin-top: 5px;
}

i {
  margin-right: 15px;
}

.fa-trash:hover {
  cursor: pointer;
  transform: scale(110%) rotate(-10deg);
  transition: transform 0.1s linear;
}
