body {
  padding: 20px;
}

.App {
  margin: 0 auto;
  width: 400px;
}

.App > div {
  padding: 20px;
  background-color: rgb(252, 217, 252);
  border:1px solid rgb(240, 240, 240);
  border-radius: 10px;
  margin-bottom: 10px;
}


p {
  text-align: center;
}